.main
  - @contents.each do |content|
    .card
      .cardImage
        = content.image
      .cardTitle
        = link_to content_path(content.id) do
          = content.title
      .cardTime
        = content.created_at
      .cardUser
        = "created_by  #{content.user.name}"
      .cardSummary
        = content.summary
