.wrapper
  = render partial: "layouts/header"
  = render partial: 'layouts/side_bar'
  .mainShow
    .mainShowHeader
      .mainShowTrash
        = link_to content_path(@content.id), method: :delete do
          = fa_icon 'trash-o 2x', class: 'icon'
      .mainShowEdit
        - if @content.user_id == current_user.id
          = link_to edit_content_path do
            = fa_icon 'pencil 2x', class: 'icon'
        - else
          = render :show
      .mainShowTitle
        =@content.title
      .mainShowTime
        =@content.updated_at
      .mainShowUser
        ="created_by   #{@content.user.name}"
    .mainShowBody
      .mainShowSummary ~Summary~
      .mainShowSummaryText
        =@content.summary
      .mainShowText ~Text~
      .mainShowTextMain
        =@content.text
      .mainShowFooter ~Comment~
      / = form_for [@content, @comment] do|f|
      /   = f.text_field :text, placeholder:"コメントを入力して下さい"
