.wrapper
  = render partial: "layouts/header"
  = render partial: 'layouts/side_bar'
  .mainShow
    .mainShowHeader
      .mainShowTrash
        =link_to contents_path do
          = fa_icon 'trash-o 2x', class: 'icon'
      .mainShowEdit
        =link_to link_to contents_path do
          = fa_icon 'pencil 2x', class: 'icon'
      .mainShowTitle
        =@content.title
      .mainShowTime
        =@content.updated_at
      .mainShowUser
        ="created_by   #{@content.user.name}"
    .mainShowBody
      .mainShowSummary ~Summary~
      .mainShowSummaryText
        =@content.summary
      .mainShowText ~Text~
      .mainShowTextMain
        =@content.text
      .mainShowFooter ~Comment~
      .mainShowFooterComment
