.wrapper
  .mypage
    = link_to new_content_path do
      = fa_icon 'search 2x', class: 'icon_search'
  .post
    = link_to new_content_path do
      = fa_icon 'plus-circle 2x', class: 'icon_plus'
  .login
    = link_to new_content_path do
      = fa_icon 'user 2x', class: 'icon_user'
  .title
    =link_to "booklog",contents_path, id: "title"
