.side
  .sideUser
    .sideUserName
      = current_user.name
  .sideContents
    - current_user.contents.each do |content|
      .content
        .sideContentEdit
          = fa_icon 'pencil-square lg', class: 'icon_edit'
        .sideContentDelete
          = fa_icon 'trash-o lg', class: 'icon_cog'
        .sideContentTitle
          = content.title
        .sideContentDate
          = content.updated_at
        .sideContentSummary
          = content.summary
